@use 'var' as v;


@mixin mobile {
    @media (max-width: v.$phone) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: v.$desktop) {
        @content;
    }
}

@mixin desktopXL {
    @media (min-width: v.$desktopXL) {
        @content;
    }
}

@mixin grid($columns, $spacing) {
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
    gap: $spacing;
}

@mixin reset-list{
    margin: 0;
    padding: 0;
    list-style: none;
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 0b84520 (Vista alumnos DSA pdf estable)
}


@mixin border-header($top, $right, $bottom, $left){
    border-color: v.$gray_font_color;
    border-style: solid;
    border-top: $top;
    border-right: $right;
    border-bottom: $bottom;
    border-left: $left;
    border-width: 2px;
<<<<<<< HEAD
=======
>>>>>>> a40e4bb (Cambios vista pdf agregados a nuevo estilo)
=======
>>>>>>> 0b84520 (Vista alumnos DSA pdf estable)
}