
// FONTS
$main-font: 'Open Sans', sans-serif, Arial;

// COLORS
$red: rgb(245, 77, 77);
$black: rgb(25, 25, 25);
$gray: rgb(35, 35, 35);
$white: white;

$white_hover: rgb(210, 210, 210);
$black_hover: rgb(40, 40, 40);

$white_op_mid: rgba(255, 0, 0, 0.5);

// STATES
$green_state: rgb(88, 240, 88);
$yellow_state: rgb(252, 252, 59);
$red_state: rgb(247, 70, 70);

// SIZES
$phone: 1000px;
$desktop: 1100px;
$desktopXL: 1200px;


