@use 'base/var' as v;
@use 'base/mixins' as m;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: v.$gray_bg;
    height: 100vh;

    display: flex;
}

/*-----Index-----*/
.container {
    width: 60em;
    height: 600px;
    margin: auto;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

    @include m.mobile{
        width: 90%;
    }

}

.info-container {
    width: 50%;
    @include m.flex-center(column);

    text-align: center;

    padding: 40px 0;

    background-color: v.$white;
    border-radius: 10px 0px 0px 10px;

    @include m.mobile{
        width: 100%;
        border-radius: 5px;
    }



    .title {
        text-transform: capitalize;
        font-size: 3.0rem;
        font-weight: 600;
        letter-spacing: 1px;
        color: v.$black;
    }

}

.image-container {
    width: 50%;
    box-sizing: border-box;
    border-radius: 0px 10px 10px 0px;
    overflow: hidden; 

    @include m.mobile{
        display: none;
    }

    .imagen_fi{
        width: 120%;
        max-width: 120%;
        height: 100%;
        transform: scale(120%);
    }


}
    
.btn-container{
    width: 90%;
}

.btn-seleccion{
    width: 80%;
    height: 60px;

    padding: 1.375rem .75rem;
    border: 1px solid #007bff;
    border-radius: .25rem;
    transition: color .15s ease-in-out;
    background-color: v.$white;
    margin: 2.5em 0 0 0;
}

.btn-seleccion:hover{
    background-color: v.$blue_bg;
    transition: all ease 0.3s;
}
