@-webkit-keyframes slide-left {
0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
}
100% {
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px);
}
}

@keyframes slide-left {
0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
}
100% {
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px);
}
}

@-webkit-keyframes slide-right {
0% {
    -webkit-transform: translateX(-450px);
            transform: translateX(-450px);
}
100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
}
}

@keyframes slide-right {
0% {
    -webkit-transform: translateX(-450px);
            transform: translateX(-450px);
}
100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
}
}