@use 'base/var' as v;
@use 'base/mixins' as m;

$input_width:70%;

.cambio_contrasena__container{
    margin: auto;
    width: 80%;
    max-width: 1400px;
    margin: auto;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include m.mobile{
        width: 100%;
        justify-content: flex-start;
    }
}


.cambio_contrasena__container{
    h2{
        font-size: 55px;
        margin: 50px 0 30px 0;
        @include m.mobile{
            font-size: 34px;
        }
    }
}

.cambio_contrasena__container{
    .alert_password{
        background: v.$red;
        border-radius: 10px;
        color: white;
        padding: 10px;
        margin-bottom: 30px;
    }
}

.cambio_contrasena__container{
    .new_pass{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include m.mobile{
            width: 80%;
        }

        &__title{
            font-weight: normal;
            width: 100%;
            text-align: center;
            font-size: 18px;

            @include m.mobile{
                font-size: 16px;
            }

        }

        &__in{
            padding: 30px;
            width: 100%;

            display: flex;
            flex-direction: column;

            @include m.mobile{
                justify-content: center;
                align-items: center;
            }
         

            &-label{
                font-weight: lighter;
                margin-bottom: 20px;
                font-size: 16px;

                @include m.mobile{
                    font-size: 14px;
                    text-align: center;
                    margin-bottom: 10px;
                }
            }

            &-input{
                padding: 5px 10px;
                border-top: none;
                border-right: none;
                border-left: none;
                font-size: 18px;

                @include m.mobile{
                    width: 100%;
                    text-align: center;
                }
            }

        }


        &__enviar{
            display: flex;
            justify-content: center;

            &-btn{
                align-items: center;
                background-color: #FFFFFF;
                border: 1px solid rgba(0, 0, 0, 0.1);
                border-radius: .25rem;
                box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
                box-sizing: border-box;
                color: rgba(0, 0, 0, 0.85);
                cursor: pointer;
                display: inline-flex;
                font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
                font-size: 16px;
                font-weight: 600;
                justify-content: center;
                line-height: 1.25;
                margin: 0;
                min-height: 3rem;
                padding: calc(.875rem - 1px) calc(1.5rem - 1px);
                text-decoration: none;
                transition: all 250ms;
                user-select: none;
                -webkit-user-select: none;
                touch-action: manipulation;
                vertical-align: baseline;
                width: auto;
            }


            &-btn:hover,
            &-btn:focus {
            border-color: rgba(0, 0, 0, 0.15);
            box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
            color: rgba(0, 0, 0, 0.65);
            }

            &-btn:hover {
            transform: translateY(-1px);
            }

            &-btn:active {
            background-color: #F0F0F1;
            border-color: rgba(0, 0, 0, 0.15);
            box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
            color: rgba(0, 0, 0, 0.65);
            transform: translateY(0);
            }

        }
    }
}




