:root{
    --verde-oscuro: #1D6F42;
    --rojo: rgb(255, 56, 86);
    --gris-claro: #e8e8e8;
    --gris-fuerte: #cccccc;
    --btn-verde: #329469;
    --btn-azul: #26b5e0;
    --btn-rojo: #cc2a0d;
    --gris-thead-oscuro: #f3f3f3;
    --gris-tr-claro: #fafafa;
    --gris-input: #E6E6E6;
}

p{
    font-size: large;
}

.container{
    position: relative;
}
/*   Alumnos Inscritos   */

.container-main{
    width: 1200px;
    margin-left: 140px;
    margin-top: 35px;
    padding-right: 60px;
}



.name-coordinador{
    font-size: 25px;
    margin-bottom: 10px;
}

.row-main{
    margin-left: 0px;
    width: 100%;
}

.alumnos-departamento{
    font-size: large;
    margin:10px 0px;
}

.subcontainer1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.contain-excel{
    display: flex;
    gap: 20px;
    align-items: center;
}

.subcontainer2{
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.contain-pdf{
    display: flex;
    gap: 20px;
    align-items: center;
}

.text-pdf-excel{
    width: 220px;
}

.btn-excel{
    cursor: pointer;
    padding: 8px 30px;
    border-radius: 10px;
    border: 0;
    background-color: var(--verde-oscuro);
    letter-spacing: 1.5px;
    font-size: 15px;
    transition: all .3s ease;
    box-shadow: rgb(8, 87, 35) 0px 10px 0px 0px;
    color: hsl(0, 0%, 100%);
}

.btn-excel:hover{
    box-shadow: rgb(8, 87, 35) 0px 7px 0px 0px;
}

.btn-excel:active{
    background-color: var(--verde-oscuro);
    box-shadow: rgb(8, 87, 35) 0px 0px 0px 0px;
    transform: translateY(5px);
    transition: 200ms;
}

.btn-danger:hover{
    box-shadow: #a1220c 0px 7px 0px 0px;
}

.btn-info:hover{
    box-shadow: #0e7b9c 0px 7px 0px 0px;
}

.btn-sucess:hover{
    box-shadow: #127449 0px 7px 0px 0px;
}

.btn-pdf{
    cursor: pointer;
    padding: 8px 30px;
    border-radius: 10px;
    border: 0;
    background-color: var(--rojo);
    letter-spacing: 1.5px;
    font-size: 15px;
    transition: all .3s ease;
    box-shadow: rgb(201, 46, 70) 0px 10px 0px 0px;
    color: hsl(0, 0%, 100%);
}

.btn-pdf:hover{
    box-shadow: rgb(201, 46, 70) 0px 7px 0px 0px;
}

.btn-pdf:active{
    background-color: var(--rojo);
    box-shadow: rgb(201, 46, 70) 0px 0px 0px 0px;
    transform: translateY(5px);
    transition: 200ms;
}

.input-style{
    width: 350px;
    border: none;
    padding: 1rem;
    border-radius: 1rem;
    background: var(--gris-claro);
    transition: 0.3s;
}

.input-style:focus{
    border: none;
    padding: 1rem;
    border-radius: 1rem;
    background: var(--gris-fuerte);
    transition: 0.3s;
}

/*   Tabla   */

.table-info{
    width: 100%;
    margin-top: 20px;
}

.table-info thead{
    background-color: var(--gris-thead-oscuro);
    color: black;
    font-size: medium;
}

.table-info td, th{
    padding: 12px 15px;
}

.table-info tbody tr:nth-of-type(even) {
    background-color: var(--gris-thead-oscuro);
}

.table-info tbody tr:nth-last-of-type(even){
    background-color: var(--gris-tr-claro);
}

.num-cuenta, .fecha-inicio, .fecha-fin{
    width: 10%;
}

.nombre-alumno{
    width: 25%;
}
.carrera{
    width: 25%;
}

.acciones{
    width: 20%;
}

.tbody-info{
    width: 100%;
    align-items: center;
    text-align: start;
    height: 50px;
}

tr{
    height: 50px;
}

.data-num-cuenta, .data-fecha-inicio, .data-fecha-fin{
    text-align: center;
}

.button-acciones{
    display: flex;
    justify-content: space-around;
    gap: 5px;
}

.btn-acc{
    text-align: center;
    border: none;
    outline: none;
    cursor: pointer;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    border-radius: 5px;
    transition: all ease 0.1s;
    width: 75px;
    height: 30px;
}

.btn-acc:active{
    transform: translateY(5px);
    box-shadow: 0px 0px 0px 0px #a29bfe;
}

.btn-sucess{
    background-color: var(--btn-verde);
    box-shadow: 0px 5px 0px 0px #127449;
}

.btn-sucess:active{
    box-shadow: 0px 0px 0px 0px #127449;
}

.btn-info{
    background-color: var(--btn-azul);
    box-shadow: 0px 5px 0px 0px #0e7b9c;
}

.btn-info:active{
    box-shadow: 0px 0px 0px 0px #0e7b9c;
}

.btn-danger {
    background-color: var(--btn-rojo);
    box-shadow: 0px 5px 0px 0px #9c200a;
}

.btn-danger:active{
    box-shadow: 0px 0px 0px 0px #9c200a;
}

/*   Alumnos Rechazados   */

.btn-alta, .btn-datos-rechazados{
    height: 40px;
    width: 90px;
    padding: 5px;
}

/*   Estadisticas   */

.container-estadisticas{
    width: 1200px;
    margin-left: 120px;
    margin-top: 35px;
    padding-right: 40px;
}

.title-estadisticas{
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: start;
    font-size: 30px;
}

.tipo-dato{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;
}

.container-checkbox{
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}

.form-check-box{
    display: flex;
    align-items: center;
    gap: 10px;
}

.input-select{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background: rgb(240, 240, 240);
}

.input-select:hover{
    background-color: var(--gris-claro);
}

.space2{
    height: 35px;
}

.exportar-pdf-excel{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.button-pdf-estadisticas button{
    display: flex;
    align-items: center;
}

.button-pdf-estadisticas img{
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.input-select-estadisticas{
    margin-top: 20px;
}

.estadisticas-exportar-pdf-excel{
    margin-bottom: 30px;
}

.generar-documento{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.select-dpto-flex{
    display: flex;
    flex-direction: column;
}

.select-periodo-flex{
    display: flex;
    flex-direction: column;
}

.input-select-dpto-periodo{
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    background: rgb(240, 240, 240);
}

.input-select-periodo{
    width: 250px;
}

.btn-documento{
    cursor: pointer;
    padding: 8px 30px;
    border-radius: 10px;
    border: 0;
    background-color: var(--btn-azul);
    letter-spacing: 1.5px;
    font-size: 15px;
    transition: all .3s ease;
    box-shadow: rgb(46, 157, 201) 0px 10px 0px 0px;
    color: hsl(0, 0%, 100%);
}

.btn-documento:hover{
    box-shadow: rgb(46, 157, 201) 0px 7px 0px 0px;
}

.btn-documento:active{
    background-color: var(--btn-azul);
    box-shadow: rgb(46, 157, 201) 0px 0px 0px 0px;
    transform: translateY(5px);
    transition: 200ms;
}

.input-select-dpto-periodo{
    width: 100%;
}

.span-danger{
    color: var(--btn-rojo);
    margin-top: 20px;
}

.select-download-document{
    margin-top: 40px;
}

@media(max-width:1024px){
    .generar-documento{
        flex-direction: column;
    }

    .select-download-document{
        width: 100%;
        margin-bottom: 60px;
        margin-top: 10px;
     }
}
@media(max-width:768px){
    .container-checkbox{
        flex-direction: column;
        align-items: center;
        gap: 35px;
    }

    .select-dpto-flex, .select-periodo-flex{
        align-items: center;
    }

    .select-dpto-flex{
        margin-top: 20px;
    }

    .title-estadisticas{
        text-align: center;
    }

    .input-select-dpto-periodo{
        width: 100%;
    }
}

@media (max-width:600px){
    .container-estadisticas{
        margin-left: 110px;
    }

    .exportar-pdf-excel{
        flex-direction: column;
        align-items: center;   
    }
}



/*   Checkbox   */

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
    .checkbox-wrapper-13 input[type=checkbox] {
      --active: #275EFE;
      --active-inner: #fff;
      --focus: 2px rgba(39, 94, 254, .3);
      --border: #BBC1E1;
      --border-hover: #275EFE;
      --background: #fff;
      --disabled: #F6F8FF;
      --disabled-inner: #E1E6F9;
      -webkit-appearance: none;
      -moz-appearance: none;
      height: 21px;
      outline: none;
      display: inline-block;
      vertical-align: top;
      position: relative;
      margin: 0;
      cursor: pointer;
      border: 1px solid var(--bc, var(--border));
      background: var(--b, var(--background));
      transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
    }
  
    .checkbox-wrapper-13 input[type=checkbox]:after {
      content: "";
      display: block;
      left: 0;
      top: 0;
      position: absolute;
      transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
    }
  
    .checkbox-wrapper-13 input[type=checkbox]:checked {
      --b: var(--active);
      --bc: var(--active);
      --d-o: .3s;
      --d-t: .6s;
      --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
    }
  
    .checkbox-wrapper-13 input[type=checkbox]:disabled {
      --b: var(--disabled);
      cursor: not-allowed;
      opacity: 0.9;
    }
  
    .checkbox-wrapper-13 input[type=checkbox]:disabled:checked {
      --b: var(--disabled-inner);
      --bc: var(--border);
    }
  
    .checkbox-wrapper-13 input[type=checkbox]:disabled + label {
      cursor: not-allowed;
    }
  
    .checkbox-wrapper-13 input[type=checkbox]:hover:not(:checked):not(:disabled) {
      --bc: var(--border-hover);
    }
  
    .checkbox-wrapper-13 input[type=checkbox]:focus {
      box-shadow: 0 0 0 var(--focus);
    }
  
    .checkbox-wrapper-13 input[type=checkbox]:not(.switch) {
      width: 21px;
    }
  
    .checkbox-wrapper-13 input[type=checkbox]:not(.switch):after {
      opacity: var(--o, 0);
    }
  
    .checkbox-wrapper-13 input[type=checkbox]:not(.switch):checked {
      --o: 1;
    }
  
    .checkbox-wrapper-13 input[type=checkbox] + label {
      display: inline-block;
      vertical-align: middle;
      cursor: pointer;
      margin-left: 4px;
    }
  
    .checkbox-wrapper-13 input[type=checkbox]:not(.switch) {
      border-radius: 7px;
    }
  
    .checkbox-wrapper-13 input[type=checkbox]:not(.switch):after {
      width: 5px;
      height: 9px;
      border: 2px solid var(--active-inner);
      border-top: 0;
      border-left: 0;
      left: 7px;
      top: 4px;
      transform: rotate(var(--r, 20deg));
    }
  
    .checkbox-wrapper-13 input[type=checkbox]:not(.switch):checked {
      --r: 43deg;
    }
}
  
.checkbox-wrapper-13 * {
    box-sizing: inherit;
}
  
.checkbox-wrapper-13 *:before,
.checkbox-wrapper-13 *:after {
    box-sizing: inherit;
}
  
  

/*   Datos Alumno   */

.container-datos-alumno{
    position: absolute;
    z-index: -1;
    left: 100px;
    width: calc(95% - 100px);
}

.title-return{
    position: sticky;
    z-index: -1;
}

.barra{
    width: 100%;
    height: 2px;
    background-color: #cccccc;
}

.barra2{
    width: 100%;
    height: 2px;
    margin-top: 30px;
    background-color: #cccccc;
}

.input{
    padding: 10px;
    border-radius: 10px;
    background: rgb(240, 240, 240);
}

.radio-button-container{
    position: relative;
    z-index: -1;
    margin-top: 10px;
    border-radius: 10px;
    align-items: center;
    height: 40px;
    background: rgb(240, 240, 240);
    width: 275px;
    display: flex;
    justify-content: space-around;
}

.space{
    width: 100%;
    height: 60px;
}

@media(min-width:1024px){

    .container-datos-alumno{
        position: absolute;
        left: 150px;
        width: calc(90% - 120px);
    }

    .datos-flex{
        display: flex;
        justify-content: space-between;
    }
    
    .title-register{
        margin-top: 50px;
        text-align: start;
        font-size: 30px;
    }

    .barra{
        margin-top: 20px;
    }

    .first-row{
        margin-top: 35px;
        font-size: 20px;
    }

    .row-size-text{
        font-size: 20px;
        margin-top: 30px;
    }

    .input{
        width: 275px;
        border: none;
        margin-top: 10px;
    }

    .last-input{
        width: 685px;
    }

    .return{
        margin-top: 30px;
        margin-bottom: 50px;
    }

    .return button{
        width: 275px;
    }
}

@media (max-width:1024px){
    
    .title-register{
        left: 0%;
        text-align: center;
        margin-top: 40px;
        margin-bottom: 35px;
        font-size: 22.5px;
        display: block;
    }

    .first-row{
        margin-top: 20px;
        text-align: center;
        font-size: 19px;
    }

    .row-size-text{
        margin-top: 70px;
        text-align: center;
        font-size: 19px;
    }

    .row-input{
        margin-top: 10px;
        text-align: center;
    }

    .input{
        right: 0%;
        width: 100%;
        position: absolute;
        font-size: 17.5px;
        text-align: center;
        border-style: none;
        z-index: -1; 
    }

    .radio-button-container{
        width: 100%;
    }

    .procedencia{
        margin-top: -20px;
    }

    .row-dpto{
        margin-top: 20px;
    }

    .return{
        left: 0%;
        text-align: center;
        margin-top: 40px;
        margin-bottom: 40px;
        font-size: 22.5px;
        display: block;
    }

    .return button{
        width: 100%;
    }
}
